<link href="../../static/styles/main.css" rel="stylesheet" />
{% extends "main.html" %}
{% block styles %}
    <style>
        h1{
            position: fixed;
            font-size: 80px !important;
            left: 25%;
            top:180px;
        }
        #bt1{
            width: 200px;
            height: 70px;
            font-size: 30px;
            margin-left:30px;
            margin-bottom:30px;
            background-color: rgb(2, 2, 2);
            border: white;
        }
        #bt2{
            width: 200px;
            height: 70px;
            font-size: 30px;
            margin-left:30px;
            margin-bottom:30px;
            background-color: rgb(48, 211, 211);
            border: white;
        }
        #bt3{
            width: 200px;
            height: 70px;
            font-size: 30px;
            margin-left:30px;
            margin-bottom:30px;
            background-color: rgb(231, 138, 17);
            border: white;
        }
        .color {
            float:right;
            padding-top: 8px;
            padding-right: 250px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>this is a function(),<br>and it will be great!</h1>
    <video autoplay muted loop class="video">
        <source src="../../static/images/Blue Glitter Particles-1.mp4" type="video/mp4">
    </video>
    <hr>
    <div>
        <h2>color scheme:</h2>
        <button type="button" class="btn btn-primary" id="bt1">Color1</button>
        <h2 class="color" style="padding-right:350px;">Red=2%,GREEN=2%,BLUE=2%</h2><br>
        <button type="button" class="btn btn-primary" id="bt2">Color2</button>
        <h2 class="color">Red=48%,GREEN=211%,BLUE=211%</h2><br>
        <button type="button" class="btn btn-primary" id="bt3">Color3</button>
        <h2 class="color">Red=231%,GREEN=138%,BLUE=17%</h2><br>
    
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}