<link href="../../static/styles/main.css" rel="stylesheet" />
{% extends "main.html" %}
{% block styles %}
    <style>
        h1{
            position: fixed;
            font-size: 80px !important;
            left: 25%;
            top:180px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>this is a function(),<br>and it will be great!</h1>
    <video autoplay muted loop class="video">
        <source src="../../static/images/Blue Glitter Particles-1.mp4" type="video/mp4">
    </video>  
{% endblock %}
{% block scripts %}
{% endblock %}


