body {
    background-image: url("../images/image_background.jpg");
    color:rgb(223, 223, 223);
    background-color:  rgb(30, 12, 110); 
}
header{
    position:absolute;
    top:3px;
    left:0px;
    height:80px;
    right:0px;
    overflow:hidden;
}
.main_content {
    font-family: 'Ubuntu Mono', monospace;
    background:rgba(22, 22, 22, 0.6);
    width:1200px;
    position:absolute;
    top:90px;
    bottom:55px;
    left:0px;
    right:0px;
    overflow:auto;
    margin:auto;
    border-radius: 10px;
    padding-top:20px;
}
.footer {
    position:absolute;
    bottom:3px;
    height:50px;
    /* left:21%; */
    right:0px;
    overflow:hidden;
    width:1110px;
    margin:auto;
}
nav {
    border-radius: 10px;
}
li.nav-item {
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    font-size: 20px;
    line-height:1em;
    width: 110px;
    text-align: center;
    transition: all 0.3s linear;
    margin-left: 10px;
    border-radius: 5px;
}
li.nav-item:hover {
    background-color:rgb(48, 211, 211) !important; 
    color:black;
    border-radius: 25px;
    transition: all 0.3s linear; 
}
a.navbar-brand {
    font-size: 40px;
    font-weight: 1000;
}
a.navbar-brand:hover {
    color:rgb(231, 138, 17) !important;
}
span {
    font-style: oblique;
    font-weight: bold;
}
a span{
    color: rgb(48, 211, 211);
    margin-right: 350px;
    font-style: normal;
}

footer.container {
    color:white;
    left:21%;
}
.bg-dark {
    background:rgba(2, 2, 2, 0.8)!important;
    opacity: 0.8 !important;
  }
.container {
    font-family: '微軟正黑體';
}
/*scroll bar customize*/
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgb(30, 12, 110); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(231, 138, 17);
    border-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 214, 214); 
}
hr {   
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid rgb(255, 255, 255)
}
.video{
    width: 1100px;
    margin:30px;
}
